* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
aside,
header,
footer,
main {
	padding: 20px;
}
header,
footer {
	grid-column: 1 / -1;
}
aside {
	grid-column: -4 / -1;
}
header {
	background-color: #fff;
	border-bottom: 1px solid black;
}
footer {
	border-top: 1px black solid;
}
main {
	border-right: 1px solid black;
	grid-column: 1 / -4;
}
ol,
ul {
	list-style-type: none;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px auto 150px;
	min-height: 100vh;
}
